{% comment %} <script>
    const APP_URL = "https://arrest-contacting-dna-app.trycloudflare.com/";
    var shop_url = '{{ shop.url }}';
    var shop_name = '{{ shop.name }}';
    const SHOP_URL = shop_url.replace('https://','');
    console.log("shop_url:",shop_url);
    
    var tags = '{{ product.tags }}';
    console.log("tags ;",tags);

    var handle = '{{ product.handle }}';
    console.log("handle ;",handle);
</script>

 
<!-- Add data attributes for product_id and product_tags -->

<div data-product-id="{{ product.id }}" data-product-tags="{{ product.tags | join: ',' }}"></div>


 {% endcomment %}


 <script>
    const APP_URL = "https://queries-sheriff-trackbacks-weekly.trycloudflare.com/"; // Base URL for the app
    var shop_url = '{{ shop.url }}'; // Shopify store URL
    var shop_name = '{{ shop.name }}'; // Shopify store name
    const SHOP_URL = shop_url.replace('https://',''); // Remove 'https://' from the shop URL
    console.log("shop_url0978:", shop_url); // Log the shop URL to the console
 
    var tags = '{{ product.tags }}'; // Product tags
    console.log("tags ;", tags); // Log the product tags to the console

    var handle = '{{ product.handle }}'; // Product handle (unique identifier)
    console.log("handle ;", handle); // Log the product handle to the console
</script>

<!-- Add data attributes for product_id and product_tags -->
<div data-product-id="{{ product.id }}" data-product-tags="{{ product.tags | join: ',' }}"></div>
<!-- This div element includes data attributes for the product ID and product tags,
     which can be used for JavaScript manipulation or CSS styling -->
