<script>
    const APP_URL = "https://modules-noble-tear-salary.trycloudflare.com/";
    var shop_url = '{{ shop.url }}';
    var shop_name = '{{ shop.name }}';
    const SHOP_URL = shop_url.replace('https://','');
    console.log("shop_url ;",shop_url);
    
    var tags = '{{ product.tags }}';
    console.log("tags ;",tags);

    var handle = '{{ product.handle }}';
    console.log("handle ;",handle);
</script>

<!-- Add data attributes for product_id  -->
<div data-product-id="{{ product.id }}"></div>

